<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="/styles/master.css">
    <link rel="stylesheet" href="/styles/controls.css">
    <link rel="stylesheet" href="/styles/footer.css">
  </head>
  <body>
    <div id="controls_main_container">
      <section id="team_container">
        <ol>

          <% @teams.each() do |team| %>

            <li class="team_containers">
              <article>
                <form action="/panel/team/<%= team.id %>" method="post">
                  <label>Team Name: <%= team.name %></label>
                  <input type="Text" name="name" value="<%= team.name %>">
                  <label>Points: <%= team.score %></label>
                  <input type="number" name="score" value="<%= team.score %>">
                  <input type="submit" value="Update">
                </form>
                <form class="team_delete_form" action="/panel/team/<%= team.id %>/delete" method="post">
                  <input type="checkbox" name="delete_check">
                  <input type="submit" value="Delete">
                </form>
              </article>
            </li>

          <% end %>

          <li id="new_team_container">
            <article>
              <p><b>Create New Team</b></p>
              <form action="/panel/team" method="post">
                <label>Team Name</label>
                <input
                  type="Text" name="name">
                <input type="submit" value="Create">
              </form>
            </article>
          </li>

        </ol>
      </section>
      <div id="control_panel_white_space">

      </div>
    </div>

    <%= erb(:footer) %>

  </body>
</html>
